/* some colors you may find useful: */
  /* #115ff4
  #060ce9
  #28a200
  #8d2ab5
  #74119c */


#board td {
  width: 160px;
  height: 110px;
  max-width: 160px;
  max-height: 110px;
  border: solid 1px   #060ce9;
  background-color:  #115ff4
}

.q {
  text-align: center;

}

.a{
  text-align: center;
}

.hidden {
  display: none;
}

p {
  margin: auto;
  color: azure;
  text-transform: capitalize;
  font-size: larger;
}

td {
  margin: auto;
  text-align: center;
  color: azure;

}

